#### RDD to DataFrame
Similar to RDDs, DataFrames are immutable and distributed data structures in Spark. Even though RDDs are a fundamental data structure in Spark, working with data in DataFrame is easier than RDD most of the time and so understanding of how to convert RDD to DataFrame is necessary.

In [1]:
import findspark
findspark.init()
import pyspark

#Initiate Spark Context
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
#sc=pyspark.SparkContext()
sc.stop()

In [2]:
sc=pyspark.SparkContext()

In [3]:
spark = SparkSession.builder.appName('abc').getOrCreate()

In [4]:
# Create a list of tuples
sample_list = [('Mona',20), ('Jennifer',34), ('John',20), ('Jim',26)]

# Create a RDD from the list
rdd = sc.parallelize(sample_list)

# Create a PySpark DataFrame
names_df = spark.createDataFrame(rdd, schema=['Name', 'Age'])

# Check the type of names_df
print("The type of names_df is", type(names_df))

The type of names_df is <class 'pyspark.sql.dataframe.DataFrame'>

In [7]:
file_path_points=r'C:\Users\Antonio J. Pérez\Documents\GitHub\Spark\Fifa2018_dataset.csv'

In [8]:
# Create an DataFrame from file_path
people_df = spark.read.csv(file_path_points, header=True, inferSchema=True)

# Check the type of people_df
print("The type of people_df is", type(people_df))

#print(people_df.take(10))

The type of people_df is <class 'pyspark.sql.dataframe.DataFrame'>

In [9]:
# DataFrame Schema
people_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Photo: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Flag: string (nullable = true)
 |-- Overall: integer (nullable = true)
 |-- Potential: integer (nullable = true)
 |-- Club: string (nullable = true)
 |-- Club Logo: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Wage: string (nullable = true)
 |-- Special: integer (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Aggression: string (nullable = true)
 |-- Agility: string (nullable = true)
 |-- Balance: string (nullable = true)
 |-- Ball control: string (nullable = true)
 |-- Composure: string (nullable = true)
 |-- Crossing: string (nullable = true)
 |-- Curve: string (nullable = true)
 |-- Dribbling: string (nullable = true)
 |-- Finishing: string (nullable = true)
 |-- Free kick accuracy: string (nullable = true)
 |-- GK diving: string (nullable = true)
 |-- GK handling: string (nullable = true)
 |-- GK kicking: string (nullable = true)
 |-- GK positioning: string (nullable = true)
 |-- GK reflexes: string (nullable = true)
 |-- Heading accuracy: string (nullable = true)
 |-- Interceptions: string (nullable = true)
 |-- Jumping: string (nullable = true)
 |-- Long passing: string (nullable = true)
 |-- Long shots: string (nullable = true)
 |-- Marking: string (nullable = true)
 |-- Penalties: string (nullable = true)
 |-- Positioning: string (nullable = true)
 |-- Reactions: string (nullable = true)
 |-- Short passing: string (nullable = true)
 |-- Shot power: string (nullable = true)
 |-- Sliding tackle: string (nullable = true)
 |-- Sprint speed: string (nullable = true)
 |-- Stamina: string (nullable = true)
 |-- Standing tackle: string (nullable = true)
 |-- Strength: string (nullable = true)
 |-- Vision: string (nullable = true)
 |-- Volleys: string (nullable = true)
 |-- CAM: double (nullable = true)
 |-- CB: double (nullable = true)
 |-- CDM: double (nullable = true)
 |-- CF: double (nullable = true)
 |-- CM: double (nullable = true)
 |-- ID: integer (nullable = true)
 |-- LAM: double (nullable = true)
 |-- LB: double (nullable = true)
 |-- LCB: double (nullable = true)
 |-- LCM: double (nullable = true)
 |-- LDM: double (nullable = true)
 |-- LF: double (nullable = true)
 |-- LM: double (nullable = true)
 |-- LS: double (nullable = true)
 |-- LW: double (nullable = true)
 |-- LWB: double (nullable = true)
 |-- Preferred Positions: string (nullable = true)
 |-- RAM: double (nullable = true)
 |-- RB: double (nullable = true)
 |-- RCB: double (nullable = true)
 |-- RCM: double (nullable = true)
 |-- RDM: double (nullable = true)
 |-- RF: double (nullable = true)
 |-- RM: double (nullable = true)
 |-- RS: double (nullable = true)
 |-- RW: double (nullable = true)
 |-- RWB: double (nullable = true)
 |-- ST: double (nullable = true)

In [49]:
# Column names
people_df.columns

['_c0',
 'Name',
 'Age',
 'Photo',
 'Nationality',
 'Flag',
 'Overall',
 'Potential',
 'Club',
 'Club Logo',
 'Value',
 'Wage',
 'Special',
 'Acceleration',
 'Aggression',
 'Agility',
 'Balance',
 'Ball control',
 'Composure',
 'Crossing',
 'Curve',
 'Dribbling',
 'Finishing',
 'Free kick accuracy',
 'GK diving',
 'GK handling',
 'GK kicking',
 'GK positioning',
 'GK reflexes',
 'Heading accuracy',
 'Interceptions',
 'Jumping',
 'Long passing',
 'Long shots',
 'Marking',
 'Penalties',
 'Positioning',
 'Reactions',
 'Short passing',
 'Shot power',
 'Sliding tackle',
 'Sprint speed',
 'Stamina',
 'Standing tackle',
 'Strength',
 'Vision',
 'Volleys',
 'CAM',
 'CB',
 'CDM',
 'CF',
 'CM',
 'ID',
 'LAM',
 'LB',
 'LCB',
 'LCM',
 'LDM',
 'LF',
 'LM',
 'LS',
 'LW',
 'LWB',
 'Preferred Positions',
 'RAM',
 'RB',
 'RCB',
 'RCM',
 'RDM',
 'RF',
 'RM',
 'RS',
 'RW',
 'RWB',
 'ST']

In [15]:
people_df.describe('Potential').show()

+-------+-----------------+
|summary|        Potential|
+-------+-----------------+
|  count|            17981|
|   mean|71.19081252433124|
| stddev|6.102199325567456|
|    min|               46|
|    max|               94|
+-------+-----------------+

In [20]:
df_name = people_df.select('Name', 'Value', 'Nationality', 'Club')

In [21]:
df_name.show(10)

+-----------------+------+-----------+-------------------+
|             Name| Value|Nationality|               Club|
+-----------------+------+-----------+-------------------+
|Cristiano Ronaldo|€95.5M|   Portugal|     Real Madrid CF|
|         L. Messi| €105M|  Argentina|       FC Barcelona|
|           Neymar| €123M|     Brazil|Paris Saint-Germain|
|        L. Suárez|  €97M|    Uruguay|       FC Barcelona|
|         M. Neuer|  €61M|    Germany|   FC Bayern Munich|
|   R. Lewandowski|  €92M|     Poland|   FC Bayern Munich|
|           De Gea|€64.5M|      Spain|  Manchester United|
|        E. Hazard|€90.5M|    Belgium|            Chelsea|
|         T. Kroos|  €79M|    Germany|     Real Madrid CF|
|       G. Higuaín|  €77M|  Argentina|           Juventus|
+-----------------+------+-----------+-------------------+
only showing top 10 rows

### Operating on DataFrames in PySpark

In [13]:
people_df.count()

17981

#### Filtering the dataset

In [24]:
people_df_nationality_ESP = people_df.filter(people_df.Nationality == 'Spain')

In [28]:
nationality_ESP = people_df_nationality_ESP.select('Name', 'Value', 'Nationality', 'Club')

In [29]:
nationality_ESP.show()

+---------------+------+-----------+-----------------+
|           Name| Value|Nationality|             Club|
+---------------+------+-----------+-----------------+
|         De Gea|€64.5M|      Spain|Manchester United|
|   Sergio Ramos|  €52M|      Spain|   Real Madrid CF|
|         Thiago|€70.5M|      Spain| FC Bayern Munich|
|    David Silva|  €44M|      Spain|  Manchester City|
|          Piqué|€37.5M|      Spain|     FC Barcelona|
|        Iniesta|€29.5M|      Spain|     FC Barcelona|
|           Isco|€56.5M|      Spain|   Real Madrid CF|
|Sergio Busquets|  €36M|      Spain|     FC Barcelona|
|    Diego Costa|  €46M|      Spain|          Chelsea|
|  Javi Martínez|  €36M|      Spain| FC Bayern Munich|
|  Cesc Fàbregas|  €41M|      Spain|          Chelsea|
|     Jordi Alba|€30.5M|      Spain|     FC Barcelona|
|    Azpilicueta|€37.5M|      Spain|          Chelsea|
|  Marco Asensio|  €46M|      Spain|   Real Madrid CF|
|       Carvajal|  €32M|      Spain|   Real Madrid CF|
|         Morata|  €41M|      Spain|          Chelsea|
|           Koke|€39.5M|      Spain|  Atlético Madrid|
|  Ander Herrera|  €32M|      Spain|Manchester United|
|          Pedro|€30.5M|      Spain|          Chelsea|
|          Bruno|€18.5M|      Spain|    Villarreal CF|
+---------------+------+-----------+-----------------+
only showing top 20 rows

#### Create a SQL Query

In [30]:
nationality_ESP.createOrReplaceTempView("players_spain")

In [34]:
query = '''SELECT Name, Value FROM players_spain ORDER BY Value ASC '''

In [35]:
nationality_ESP_SQL = spark.sql(query)

In [36]:
nationality_ESP_SQL.show()

+--------------+-----+
|          Name|Value|
+--------------+-----+
|        Pelayo|€1.1M|
|   Juan Carlos|€1.1M|
|       Pomares|€1.1M|
|          Nono|€1.1M|
|  Nili Perdomo|€1.1M|
|       Puertas|€1.1M|
|    Pablo Marí|€1.1M|
|        Lobato|€1.1M|
|  Toño Ramirez|€1.1M|
| Manuel Torres|€1.1M|
|   Álvaro Peña|€1.1M|
|  Gerard Badía|€1.1M|
|         Máyor|€1.1M|
|Juan Domínguez|€1.1M|
|          Caro|€1.1M|
|  Nacho Méndez|€1.1M|
|        Angulo|€1.1M|
| Rubén Alcaraz|€1.1M|
|  Borja Lázaro|€1.1M|
| Pichu Atienza|€1.1M|
+--------------+-----+
only showing top 20 rows